.summaryContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); // repetir 3 vezes
    gap: 2rem;

    div {
        background: var(--gray-300);
        padding: 1.5rem 2rem;
        border-radius: 0.25rem ;
        color: var(--gray-900);
        margin: 2rem;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        strong {
            display: block; // Por padrão o strong, vem com inline, logo o margin top não funciona, sendo viável utilizar o block
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 3rem;
        }
    }
}